In [1]:
import requests
import pandas as pd

### 加權指數

In [17]:
url = "https://backend.taiwanindex.com.tw/api/indexes/t00/records?start=1970-11-02&end=1975-06-08"
response = requests.get(url)

close = response.json()["data"]["datasets"][1]["data"]
timestamps = response.json()["data"]["labels"]

mid_small_300 = {"Date": timestamps, "mid_small_300": close}

df_mid_small_300 = pd.DataFrame(mid_small_300)
df_mid_small_300.Date = pd.to_datetime(df_mid_small_300.Date, format='%Y/%m/%d')
df_mid_small_300 = df_mid_small_300.set_index(['Date'])
df_mid_small_300

Empty DataFrame
Columns: [mid_small_300]
Index: []

### 中小300

In [15]:
url = "https://backend.taiwanindex.com.tw/api/indexes/IR0114/records?start=2018-12-24&end=2023-06-08"
response = requests.get(url)

close = response.json()["data"]["datasets"][1]["data"]
timestamps = response.json()["data"]["labels"]

mid_small_300 = {"Date": timestamps, "mid_small_300": close}

df_mid_small_300 = pd.DataFrame(mid_small_300)
df_mid_small_300.Date = pd.to_datetime(df_mid_small_300.Date, format='%Y/%m/%d')
df_mid_small_300 = df_mid_small_300.set_index(['Date'])
df_mid_small_300

           mid_small_300
Date
2018-12-24       5023.20
2018-12-25       4959.28
2018-12-26       4926.42
2018-12-27       4993.35
2018-12-28       5002.89
...                  ...
2023-06-02       11584.5
2023-06-05      11666.34
2023-06-06      11640.77
2023-06-07      11727.12
2023-06-08      11574.78

[1081 rows x 1 columns]